@charset 'utf-8';

/* MISC. */

h2 {

	padding-top: 7vh;

}

div.jumbotron {

	padding: 2vh 1vw 0;

}


/* NAV STYLES */

#first {

	margin-left: 8vw;

}

#last {

	margin-right: 8vw;

}

nav li.special-nav:nth-of-type(2) {

	padding-right: 1vw;

}

a#TSA-header + a {

	margin-left: .5vw;

}

nav li.special-nav a {

	background-color: #28a745 !important;
    -o-transition:.65s;
    -ms-transition:.65s;
    -moz-transition:.65s;
	-webkit-transition:.65s;

}

a.blue:hover {

	color: #28a745 !important;
	background-color: white !important;

}

div#navbar-container {

	border-bottom: 1px solid black;

}

li.special-nav:first-of-type {

	padding-right: 1vw;

}

/* Fancy Nav Effect */

li.normal-nav {

	margin-top: .8vh;
	display: inline-block;
	position: relative !important;

}

li.normal-nav > a::after {

	content: '';
	display: block;
	margin-top: .4vh;
	height: 2px;
	width: 0%;
	background-color: white;
	transition: all ease-in-out 250ms;

}

li.normal-nav > a:hover::after {

	width: 100%;

}

li.normal-nav > a:hover {

	color: white !important;

}

li.normal-nav > a.active-navlink::before {

	content: '';
	display: block;
	margin-bottom: .4vh;
	height: 2px;
	width: 100%;
	background-color: white;

}

/* ABOUT SECTION */

div#about h2 {

	margin-top: 5vh;
	margin-bottom: 4vh;

}

h3 { color: hotpink; font-size: 200%; }
h4 { color: #886ce0; }


/* STYLES */

div#frameworks h2, div#frameworks h3, div#frameworks p {

	text-align: left !important;

}

div#sources-holder {

	background: linear-gradient(to bottom right, #e8f5e9, #81c784);

}

div#frameworks-holder {

	background: linear-gradient(to top right, #e8f5e9, #81c784);

}

h5#sources_link {

	font-size: 175% !important;
	text-align: center !important;
	vertical-align: middle;

}

div#frameworks {

	padding: 0 0 3vh;

}

footer a:hover {

	text-shadow: 2px 2px black;

}

